<div class="container vh-100">
    <div class="row my-2">
        <div class="col-3 he-30 bg-purple d-flex justify-content-center align-items-center">
            <h2 class="text-white">USUARIO</h2>
        </div>
        <div class="col-3 he-30 offset-5 bg-purple d-flex justify-content-center align-items-center">
            <h2 class="text-white">PERSONAJE</h2>
        </div>
        <div class="col-3 he-30 bg-purple my-5 d-flex justify-content-center align-items-center">
            <h2 class="text-white">BARAJAS</h2>
        </div>
        <div class="col-3 he-30 offset-5 bg-purple my-5 d-flex justify-content-center align-items-center">
            <h2 class="text-white">CARTA</h2>
        </div>   
    </div>
</div>
