<main class="font-sans background mx-auto h-screen flex flex-1 justify-center items-center">
<div class="tarjeta-contenedor w-3/4">
  <div class="card-header">
    <h1 class="tarjeta-titulo">Bienvenido a LvLDungeons</h1>
    <hr>
  </div>

  <div class="tarjeta-contenido">
    <h3 class="tarjeta-contenido-titulo">¿Te gusta Dragones y Mazmorras?</h3>
    <p class="tarjeta-contenido-parrafo-desaparecer">LvLDungeons es un juego que parodia las partidas de rol de dragones y mazmorras,
      donde la tematica basica consistia en un grupo de jugadores que entraban en una mazmorra e intentaban aniquilar
      a cualquier cosa que encontraran en su camino para quedarse el tesoro</p>

    <p class="tarjeta-contenido-parrafo">LvLDungeons es una parodia de los estereotipos de los juegos de rol de mazmorreo clásicos como Dragones y Mazmorras. Durante
      el juego los personaje iran consiguiendo armas y armaduras, consiguiendo tesoros, maldiciones y mucho mas. Tambien aniquilaras
      monstruos para conseguir recompensas fantasticas, o bueno, te aniquilaran a ti, y podras fastidiar a los demas.</p>

    <p class="tarjeta-contenido-parrafo">¡Tienes que empezar a jugar ya!</p>
  </div>
  <div class="tarjeta-acciones">

      <button class="boton-home" routerLink="/login">Inicia sesion</button>

      <button class="boton-home" routerLink="/registro">Registrate</button>
  </div>
</div>
</main>
