.registro{
    /*
      background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
    */
    background: url('/assets/images/fondo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }