<!-- 

    <nav class="navbar navbar-expand-lg navbar-dark bg-gray-700">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        
        <form class="form-inline" [formGroup]="searchForm">
            <input class="form-control mr-sm-2 col-8 mr-1" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        
        <div *ngIf="this.usuarioAutenticado != null" class="btn-group">

            <button class="btn btn-outline-light rounded" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user-circle"></i>
        </button>
        
        <div class="dropdown-menu dropdown-menu-right" role="menu">
            <button class="dropdown-item" (click)="desLogear()">Cerrar sesión</button>
        </div>
    </div>
</nav>
-->
<!-- component -->
<nav class="flex items-center bg-gray-800 p-3 flex-wrap">
    <a href="#" class="p-2 mr-4 inline-flex items-center">
        <span class="text-xl text-white font-bold uppercase tracking-wide">LVLDUNGEONS</span>
    </a>
    <button
        class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
        data-target="#navigation">
        <i class="material-icons">menu</i>
    </button>
    <div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
        id="navigation">
        <div
        class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto">
        <a
            href="#"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
            <span>Inicio</span>
        </a>
        
        </div>
    </div>
    </nav>

