<nav class="nav-Header">
    <a href="#" class="p-2 mr-4 inline-flex items-center">
        <span class="span-TituloHeader">LVLDUNGEONS</span>
    </a>
    <button
        class="btn-MenuHeader"
        data-target="#navigation">
        <i class="material-icons">menu</i>
    </button>
    <div class="div-navigationHeader"
        id="navigation">
        
        <div *ngIf="this.usuarioAutenticado != null"
        class="div-UserLoggedHeader">
            <div class="dropdown inline-block relative">
              <button class=" text-white font-semibold py-2 px-4 rounded inline-flex items-center">
                <span class="mr-1"><i class="far fa-user"></i></span>
              </button>
              <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                <li class=""><a class="cerrarSesionHeader" (click)="desLogear()">Cerrar Sesión</a></li>
            </ul>
            </div>
          
          </div>
        </div>
    </nav>
<!-- 
    <nav class="navbar navbar-expand-lg navbar-dark bg-gray-700">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        
        <form class="form-inline" [formGroup]="searchForm">
            <input class="form-control mr-sm-2 col-8 mr-1" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        
        <div *ngIf="this.usuarioAutenticado != null" class="btn-group">

            <button class="btn btn-outline-light rounded" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user-circle"></i>
        </button>
        
        <div class="dropdown-menu dropdown-menu-right" role="menu">
            <button class="dropdown-item" (click)="desLogear()">Cerrar sesión</button>
        </div>
    </div>
</nav>
-->
<!-- component -->

