<nav class="nav-Header">
    <a href="#" class="p-2 mr-4 inline-flex items-center">
        <span class="span-TituloHeader">LVLDUNGEONS</span>
    </a>
    <div class="div-navigationHeader"id="navigation">
        <div *ngIf="this.usuarioAutenticado != null" class="div-UserLoggedHeader">
            <div class="dropdown inline-block relative">
              <button class=" text-white font-semibold py-2 px-4 rounded inline-flex items-center">
                <span class="mr-1"><i class="far fa-user"></i></span>
              </button>
              <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                <li class=""><a class="cerrarSesionHeader" routerLink="/detalles">Datos Personales</a></li>
                <li class=""><a class="cerrarSesionHeader" (click)="desLogear()">Cerrar Sesión</a></li>
            </ul>
            </div>
          </div>
        </div>
    </nav>

<!-- component -->

