<!--Si existe usuario autenticado muestra esto -->
<div *ngIf = "this.usuarioAutenticado != null && compruebaJwt() == true">
    <h1>ESTÁS DENTRO {{this.usuarioAutenticado.username}} !!</h1>
  
    <form [formGroup]='formPartida'>

        <button class="btn-registroActivo" (click)='crearPartida()'>CREAR</button>
        <input type="text" name="token" id="token" formControlName='token'>
        <button class="btn-registroActivo"  (click)='unirsePartida()'>UNIRSE</button>
        <button class="btn-registroActivo m-5" (click)='listoPartida()'>LISTO</button>
    </form>

    <div *ngIf="partida != null">
        <p *ngFor="let personaje of partida.personajes">{{personaje.id}}, {{personaje.empezarPartida}}</p>
        <br>
        {{this.partida.iniciada}}
        <br>
        {{this.partida.token}}
        <br>
        {{this.partida.idOwner}}
    </div>

    
    
</div>
    <div id="cambio">
        
    </div>





<!--Si no existe usuario autenticado muestra esto -->
<div *ngIf = "this.usuarioAutenticado == null && compruebaJwt() == false">
    <h1>No tienes acceso! Ingresa desde <button class="btn btn-primary" routerLink="/login">AQUÍ</button></h1>
</div>
<!--
    <tabla></tabla>
    <formulario></formulario>
-->
