<header></header>
<div class="h-screen font-sans login bg-cover">
  <div class="container mx-auto h-full flex flex-1 justify-center items-center">
      <div class="w-full max-w-2xl md:flex m-0 divide-x divide-black">
        <div class="hidden md:flex flex-col w-50 bg-white rounded-left shadow-xl bg-opacity-25 op-92 p-3">
          <h1>Bienvenido a LvLDungeons!</h1>
          <hr>
          <h6>Explora las mazmorras detrás de las puertas y derrota los monstruos para conseguir los tesoros
            y lograr la victoria. ¿Serás capaz de vencer?
          </h6>
          <hr>
          <img class="m-0 p-0 shadow-xl rounded" src="/assets/images/img2.jpg" alt="">
        </div>
        <div class="leading-loose">
          <form class="max-w-sm m-0 p-10 bg-white bg-opacity-25 op-92 rounded-right shadow-xl divide-y divide-black" [formGroup]="loginForm">
              <div id="login">
                <p class="text-black font-medium text-center text-lg font-bold">LOGIN</p>
                <div class="">
                  <label class="block text-sm text-black" for="usuario">Nombre de Usuario</label>
                  <input [class]="this.loginForm.controls.usuario.invalid && this.loginForm.controls.usuario.value != '' 
                  ? 'w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white border-solid border-red-500 border-2'
                  : 'w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white'"
                  type="text" id="usuario"  placeholder="Username" aria-label="username" formControlName="usuario">
                </div>
                <div class="mt-2">
                  <label class="block  text-sm text-black">Contraseña</label>
                  <input [class]="this.loginForm.controls.password.invalid && this.loginForm.controls.password.value != ''  
                  ? 'w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white border-solid border-red-500 border-2' 
                  : 'w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white'"
                  type="password" id="password" placeholder="Password" arial-label="password" formControlName="password">
                </div>
                <div class="mt-4 items-center flex justify-between">
                  <button [disabled]="loginForm.invalid" (click)="login()"
                  [class]="loginForm.invalid ? 'px-4 py-1 text-white font-light tracking-wider bg-gray-600 rounded' : 'px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded'">
                    Log in
                  </button>
                </div>
                <div class="text-center">
                  <a class="inline-block right-0 align-baseline font-light text-sm text-500 hover:text-red-400">
                    Olvidaste la contraseña?
                  </a>
                </div>
              </div>
                <div id="registro">
                  <br>
                  <h5>¿Eres nuevo?</h5>
                  <br>
                  <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded"
                  routerLink="/registro">Crear nueva cuenta</button>
                </div>
              </form>
            </div>
          </div>
    </div>
  </div>
<footer></footer>
