<hr>
<div class="d-flex justify-content-center align-items-center flex-column my-2">
        <h2>REGISTRO</h2>
        <form class="row col" [formGroup] = "registerForm">
            <div class="form-group position-relative offset-3">
                <label for="idusuario">ID:</label>
                <input type="number" formControlName="id" class="form-control" id="idusuario" placeholder="ID" value="">
            </div>
            <div class="form-group position-relative offset-2">
                <label for="inputNombre">Nombre:</label>
                <input type="text" formControlName="nombre" class="form-control" id="inputNombre" placeholder="Nombre" value="">
            </div>
            <div class="d-block w-100"></div>
        <div class="form-group position-relative offset-3">
            <label for="inputEmail">E-mail:</label>
            <input type="text" class="form-control" formControlName="email" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group position-relative offset-2">
            <label for="inputNickname">Nickname:</label>
            <input type="text" class="form-control" formControlName="nick" id="inputNickname" placeholder="Nickname">
        </div>
        <div class="d-block w-100"></div>
        <div class="form-group position-relative offset-3">
            <label for="inputPassword">Contraseña:</label>
            <input type="password" class="form-control" formControlName="pass" id="inputPasword" placeholder="Contraseña">
        </div>
        <div class="form-group position-relative offset-2">
            <label for="inputEdad">Edad:</label>
            <input type="text" class="form-control" formControlName="edad" id="inputEdad" placeholder="Edad">
        </div>
        <div class="d-block w-100"></div>
        <button type="button" (click)="createUser()" class="col-2 btn-purple rounded border offset-3" [disabled]="registerForm.invalid">Registrar</button>
        <button type="submit" (click)="modificarUser()" class="col-2 btn-purple rounded border offset-2">Modificar</button>
    </form>
</div>