@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'src/app/styles/tarjetas';

@import 'src/app/styles/botones';

.background{
  background: url('/assets/images/fondo-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.he-100{
    height: 100vh;
}
.bg-purple{
    background-color: #6351ce;
}

.btn-purple{
    color: white;
    background: #6351ce;
    padding: 8px 0px;
}

.he-30{
    height: 30vh;
}

.he-40{
    height: 40vh;
}

.he-50{
    height: 50vh;
}

.rounded-50{
    border-radius: 1.5em;
}

.rounded-50l{
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.rounded-50r{
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}


input, textarea {
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.op-92{
    opacity: .92;
}

.dropdown:hover .dropdown-menu {
    display: block;
    right: 5px;
  }
.cerrarSesionHeader:hover{
    background-color: rgb(185, 185, 185);
}



/***************************Estilos para los componentes de registro/Login y su botón*******************************/

//Este es el usado si el input no está adecuadamente relleno
.inputInvalido {

    @apply w-full px-5 py-1 text-gray-700 rounded outline-none bg-white border-solid border-red-500 border-2;
    @apply bg-gray-300;

    }

//Este es el usado si el input está adecuadamente relleno

.inputValido{

    @apply w-full px-5 py-1 text-gray-700 rounded outline-none bg-white;
    @apply bg-gray-300;
}

.labelFormulario{

    @apply block mt-2 text-xs font-semibold text-gray-600 uppercase;
}



.option-OlvidarPassLogin{

    @apply cursor-pointer text-blue-600 inline-block right-0 align-baseline font-light text-sm;

}


/**********************************Estilos header**********************************/

.nav-Header{

    @apply flex items-center bg-gray-800 p-3;
}


.span-TituloHeader{

    @apply text-xl text-white font-bold uppercase tracking-wide;
}


.btn-MenuHeader{

    @apply text-white inline-flex p-3 bg-gray-900 rounded ml-auto outline-none;
}

.div-navigationHeader{
    @apply w-full inline-flex;
}

.div-UserLoggedHeader{

    @apply inline-flex ml-auto w-auto items-center flex-col h-auto;
}

.cerrarSesionHeader{

    @apply bg-gray-200 py-2 px-4 block whitespace-no-wrap cursor-pointer shadow-xl;
}


/**********************************Estilos Footer************************************************/

.div-Footer{

    @apply bg-gray-900 text-white;
}

.div-ParteSuperiorFooter{

    @apply text-center bg-purple;
}

.div-GitHub{

    @apply mb-4;
}

.iconosFooter{

    @apply text-center;
}

.divLinks{

    @apply flex mt-8 text-center;
}

.divContainer{
    @apply flex;
    @apply flex-wrap;
    @apply justify-center;
    @apply mx-auto;
    @apply px-6 my-6;
}

.seccionesFooter{

    @apply w-full my-4;

    @media (min-width: 640px) { width: 100% }
    @media (min-width: 768px) { width: 50% }
    @media (min-width: 1024px){ width: 25% }

 }

 .hr-Footer{

    @apply mb-4 mt-0 inline-block mx-auto;
 }


